@import "../../assets/styles/_variables.scss";

.navbar-wrap {
  position: relative;
  z-index: 2;
  padding: 15px 0;
  background-color: white;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
  //display: flex;
  //justify-content: center;
}

//.navbar {
//  height: 60px;
//}

.header-list-icons {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 100px;

  li {
    margin-right: 10px;
  }
}

.burger-menu-button {
  display: none;
  background: transparent;
  border: none;
  align-items: center;
  cursor: pointer;
}

.navbar-child-items {
  background-color: #fff;
  padding: 10px;
  margin-left: -10px;
  text-decoration: none;
  @media screen and (max-width: 980px) {
    margin-left: 0;
  }
}

.navbar-child-items-item {
  font-size: 14px;
  margin-bottom: 10px;
  text-decoration: none;
  &:last-child {
    margin-bottom: 0;
  }
  a {
    color: black;
    text-decoration: none;
  }
}

.navbar-item {
  display: inline-block;
  position: relative;
  margin: 5px 0 5px 40px;
  padding: 0;
  text-decoration: none;
  color: #343a40;
  font-size: 14px;
  line-height: 1.4285em;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
  @media all and (max-width: 991px) {
    margin-top: 0;
    margin-bottom: 0;
  }
  &:first-child {
    margin-left: 0;
  }
}

.navbar-item-with-child {
  padding-right: 15px !important;
  background: url("./assets/arrow.svg") no-repeat right calc(50% + 2px);
}

.navbar-icon-parent {
  margin-left: 5px;
}

.navbar-icon-wrap {
  width: 135px;
}

.login-item {
  margin-left: auto;
}

.list-navbar-links {
  margin-right: 20px;
}

@media screen and (max-width: 1380px) {
  .block-search {
    display: none;
  }

  .header-list-icons {
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  .burger-menu-button {
    display: flex;
  }

  .login-button {
    display: none;
  }

  .header-list-icons {
    margin-left: 0;
  }

  .navbar-wrap {
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 0;

    .list-navbar-links {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 100vh;
      margin-right: 0;
      display: none;

      &.open {
        display: block;
      }

      .list-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 70px;
        animation-name: navbarMenu;
        animation-duration: 0.5s;
        border-left: 1px solid #dee2e6;
        border-bottom: 1px solid #dee2e6;
        padding: 10px;
        background: white;
      }

      .navbar-item {
        padding: 10px;
        margin-left: 0;
      }
    }
  }
  .navbar-icon-wrap {
    width: 100px;
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    .header-list-icons {
      display: none;
    }

    .list-navbar-links {
      a {
        padding: 20px;
      }
    }
  }
}

@keyframes navbarMenu {
  from {
    opacity: 0;
    margin-top: 50px;
  }
  to {
    opacity: 1;
    margin-top: 70px;
  }
}

.rc-dropdown-arrow {
  display: none;
}

.navbar-link {
  text-decoration: none;
  position: relative;
  transition: all 0.6s;
  color: $main-black;

  &:before {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    bottom: -3px;
    left: 0;
    background: $main-blue;
    transition: all 0.3s;
  }

  &:hover,
  &.active {
    &:before {
      width: 100%;
      left: 0;
      background: $main-blue;
    }
  }
}

.lang-wrap {
  @media all and (max-width: 991px) {
    margin-left: auto;
    margin-right: 20px;
  }
}
