@import "../../../assets/styles/variables";

.title {
  // font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 59px;
  margin: 0;
  letter-spacing: 0.02em;

  color: #515151;

  &.blue {
    color: #1771f1;
  }
}
