@import "./assets/styles/settings.scss";

.c-main {
  letter-spacing: 0.02em;
}

.c-title {
  margin: 0 0 40px 0;
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  color: inherit;
  @media all and (max-width: 767px) {
    font-size: 40px;
  }
  @media all and (max-width: 575px) {
    font-size: 32px;
  }
}

.c-section-offset {
  padding: 120px 0;
  @media all and (max-width: 767px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.c-text-gradient {
  padding-bottom: 5px;
  background: $gradiend;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #1053ff;
}
