@import "./_variables.scss";

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.start {
  justify-content: flex-start;
}

.align-center {
  align-items: center;
}

.bold {
  font-weight: bold;
}

.col-6 {
  width: 50%;
}

.h-100 {
  height: 100%;
}

.error-text {
  color: $error-red;
}

.container {
  max-width: 1200px;
  width: 70%;
}

.paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  color: $main-black;

  letter-spacing: 0.02em;
}

.section {
  padding-left: 9%;
  padding-right: 9%;
}

@media screen and (max-width: 1600px) {
  .container {
    width: 80%;
    max-width: 1300px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    width: 100%;
  }

  .section {
    padding-left: 3%;
    padding-right: 3%;
  }
}

.c-container {
  max-width: 1115px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media all and (max-width: 1199px) {
    max-width: 960px;
  }
  @media all and (max-width: 991px) {
    max-width: 720px;
  }
  @media all and (max-width: 767px) {
    max-width: 540px;
  }
}

button.default-style {
  border: none;
  border-radius: 0;
  background: transparent;
  padding: 0;
}

ul.default-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fix-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-fit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-sm-hide {
  @media all and (max-width: 767px) {
    display: none;
  }
}

.c-sm-show {
  display: none;
  @media all and (max-width: 767px) {
    display: block;
  }
}
