@import "../../assets/styles/variables";

.footer {
  background-color: $black-bg;
  padding: 80px 0;

  .footer-logo {
    width: 160px;
  }

  .copyright {
    color: white;
    opacity: 0.4;
    font-size: 18px;
  }

  .footer-list {
    display: flex;

    .footer-list-links {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 20px;
      }

      a {
        color: white;
        text-decoration: none;
      }
    }

    .footer-item {
      width: 25%;

      .copyright {
        margin-top: 60px;
        max-width: 160px;
        text-align: right;
      }

      .footer-item-title {
        color: white;
        font-size: 25px;
        margin-bottom: 20px;
      }
    }
  }

  .footer-list-icons {
    display: flex;
    flex-wrap: wrap;

    a {
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }

  .footer-links {
    width: 50%;
    display: flex;

    .footer-item {
      width: 50%;
    }
  }
}

.footer-socials {
  max-width: 250px;
}

@media screen and (max-width: 991px) {
  .footer {
    .footer-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .footer-list {
      flex-direction: column-reverse;

      .footer-item {
        width: 100%;
      }

      .footer-links {
        width: 100%;
        margin: 40px 0;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .footer {
    .footer-list .footer-links {
      display: block;

      .footer-item {
        width: 100%;

        &:nth-child(n + 2) {
          margin-top: 10px;
        }
      }
    }
  }
}
